# Chocolate Bar Ratings

### 1. Import libraries

In [44]:
#import libraries
import pandas as pd
import numpy as np
import os

In [54]:
#create path
path = r'C:\Users\hnguy\OneDrive\Documents'

### 2. Import data

In [55]:
#import the data
df_rate = pd.read_csv(os.path.join(path, 'flavors_of_cacao.csv'), encoding='latin1')

In [47]:
#show the first 5 rows of the dataframe
df_rate.head()

,Company/Creator,Specific Bean Origin,REF,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

In [36]:
#check the rows and columns of the dataframe
df_rate.shape

(1795, 9)

In [37]:
#check the information of each column
df_rate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Company/Creator       1795 non-null   object
 1   Specific Bean Origin  1795 non-null   object
 2   REF                   1795 non-null   int64
 3   Review Date           1795 non-null   int64
 4   Cocoa Percent         1795 non-null   object
 5   Company Location      1795 non-null   object
 6   Rating                1795 non-null   float64
 7   Bean Type             1794 non-null   object
 8   Broad Bean Origin     1794 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 126.3+ KB

In [38]:
#check for basic statistics
df_rate.describe()

               REF  Review Date       Rating
count  1795.000000  1795.000000  1795.000000
mean   1035.904735  2012.325348     3.185933
std     552.886365     2.927210     0.478062
min       5.000000  2006.000000     1.000000
25%     576.000000  2010.000000     2.875000
50%    1069.000000  2013.000000     3.250000
75%    1502.000000  2015.000000     3.500000
max    1952.000000  2017.000000     5.000000

In [39]:
#delete unnecessary columns
del df_rate['REF']

In [40]:
df_rate.head()

,Company/Creator,Specific Bean Origin,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin
0,A. Morin,Agua Grande,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,2015,70%,France,3.50,,Peru

### 3. Cleaning data

In [56]:
#check for any missing values
df_rate.isnull().sum()

Company/Creator           0
Specific Bean Origin      0
REF                       0
Review Date               0
Cocoa Percent             0
Company Location          0
Rating                    0
Bean Type               888
Broad Bean Origin        74
dtype: int64

In [57]:
df_rate.isnull().sum().sum()

962

In [65]:
#deleted column because of too many missing values
del df_rate['Bean Type']

In [58]:
#check for duplicates
df_rate_dups = df_rate[df_rate.duplicated()]

In [59]:
df_rate_dups

Empty DataFrame
Columns: [Company/Creator, Specific Bean Origin, REF, Review Date, Cocoa Percent, Company Location, Rating, Bean Type, Broad Bean Origin]
Index: []

In [66]:
#check for mixed data type
for col in df_rate.columns.tolist():
  weird = (df_rate[[col]].applymap(type) != df_rate[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_rate[weird]) > 0:
    print (col)

In [62]:
#converted the mixed data type into string
df_rate['Broad Bean Origin'] = df_rate['Broad Bean Origin'].astype('str')

In [63]:
#check for mixed data type again
for col in df_rate.columns.tolist():
  weird = (df_rate[[col]].applymap(type) != df_rate[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_rate[weird]) > 0:
    print (col)

### 4. Export the dataframe

In [67]:
df_rate.to_csv(os.path.join(path, 'Achievement 6', '02 Data', 'Prepared Data', 'ratings_data_cleaned.csv'))